<template lang="html">
    <div class="container">
        <header>
            <h1 class="title">Albums</h1>

        </header>
        <div class="columns is-multiline">

        <AlbumCard :album="album" v-for="album in albums" :key="album.id" />  <!-- ' : ' allow us to run JS -->

      </div>
    </div>
</template>

<script>
import axios from "axios";
import env from "../config/env"; //'https://jsonplaceholder.typicode.com'
import AlbumCard from "../components/AlbumCard";
export default {
  name: "IndexPage",
  components: {
    //need to declare each component
    AlbumCard //Short hand property
  },
  data() {
    return {
      albums: []
    };
  },
  created: async function() {
    let response = await axios.get(`${env.endpoint}/albums`);
    this.albums = response.data;
  }
};
</script>

<style scoped>
</style>
